apiVersion: v1
kind: ConfigMap
metadata:
  name: workflow-controller-configmap
  namespace: argo
data:
  sso: |
    issuer: https://auth.morrislan.net/application/o/argo/
    sessionExpiry: 72h
    clientId:
      name: vault-argo
      key: oidc-client-id
    clientSecret:
      name: vault-argo
      key: oidc-client-secret
    # redirectUrl: https://argo.morrislan.net/oauth2/callback
    scopes:
     - openid
     - profile
     - email
     - groups