apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: cloudflare-access
  namespace: cloudflare-access
spec:
  selector:
    matchLabels:
      app: cloudflare-access
  template:
    metadata:
      labels:
        app: cloudflare-access
    spec:
      containers:
      - name: cloudflared
        image: cloudflare/cloudflared:2025.2.0
        args:
          - tunnel
          - run
        env:
        - name: TUNNEL_TOKEN
          valueFrom:
            secretKeyRef:
              name: tunnels
              key: uk-brs-1
