apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  resource.exclusions: |
    - apiGroups:
      - cilium.io
      kinds:
      - CiliumIdentity
      clusters:
      - "*"
  url: https://argocd.morrislan.net
  timeout.reconciliation: 45s
  oidc.config: |
    name: authentik
    issuer: https://auth.morrislan.net/application/o/argocd/
    clientID: <path:secrets/data/argocd#oidc-client-id>
    clientSecret: <path:secrets/data/argocd#oidc-client-secret>
    requestedScopes: ["openid", "profile", "email", "groups"]
---
apiVersion: v1
kind: ConfigMap
metadata:
  labels:
    app.kubernetes.io/component: notifications-controller
    app.kubernetes.io/name: argocd-notifications-controller
    app.kubernetes.io/part-of: argocd
  name: argocd-notifications-cm
  namespace: argocd
data:
  subscriptions: |
    - recipients:
      - slack:argocd
      triggers:
      - on-update-failed
  service.slack: |
    token: <path:secrets/data/argocd#slack-token>

  # Notification template when an application update starts
  template.app-update-started: |
    slack:
      attachments: |
        [{
          "title": "{{ .app.metadata.name}}",
          "title_link": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}",
          "color": "#0DADEA",
          "fields": [
            {
              "title": "Update Status",
              "value": "In Progress",
              "short": true
            },
            {
              "title": "Started At",
              "value": "{{.app.status.operationState.startedAt}}",
              "short": true
            }
          ]
        }]

  # Notification template when an application update succeeds
  template.app-update-succeeded: |
    slack:
      attachments: |
        [{
          "title": "{{ .app.metadata.name}}",
          "title_link": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}",
          "color": "#18be52",
          "fields": [
            {
              "title": "Sync Status",
              "value": "{{.app.status.sync.status}}",
              "short": true
            },
            {
              "title": "Finished At",
              "value": "{{.app.status.operationState.finishedAt}}",
              "short": true
            }
          ]
        }]

  # Notification template when an application update fails
  template.app-update-failed: |
    slack:
      attachments: |
        [{
          "title": "{{ .app.metadata.name}}",
          "title_link": "{{.context.argocdUrl}}/applications/{{.app.metadata.name}}",
          "color": "#E96D76",
          "fields": [
            {
              "title": "Sync Status",
              "value": "Failed",
              "short": true
            },
            {
              "title": "Finished At",
              "value": "{{.app.status.operationState.finishedAt}}",
              "short": true
            },
            {
              "title": "Error",
              "value": "{{.app.status.operationState.message}}",
              "short": true
            }
          ]
        }]

  # Trigger when the application update starts
  trigger.on-update-started: |
    - description: Application update has started
      send:
        - app-update-started
      when: app.status.operationState.phase in ['Running', 'InProgress']

  # Trigger when the application update succeeds
  trigger.on-update-succeeded: |
    - description: Application update has succeeded
      send:
        - app-update-succeeded
      when: app.status.operationState.phase in ['Succeeded'] and app.status.health.status == 'Healthy'

  # Trigger when the application update fails
  trigger.on-update-failed: |
    - description: Application update has failed
      send:
        - app-update-failed
      when: app.status.operationState.phase in ['Failed', 'Error', 'Unknown']